# Backend server
PORT=3040
CORS_ORIGIN=http://192.168.1.4:3080

# Later: add service URLs + tokens here
JELLYFIN_URL=http://192.168.1.4:8096
JELLYFIN_API_KEY=8edd001705c44d0785ad538518d40bb7

IMMICH_URL=http://192.168.1.4:2283
IMMICH_API_KEY=9aMXsDmwbZ9LsPIQDECMVZwOZ18vY2hi1Yz0kDDa7Fs

GLANCES_URL=http://192.168.1.4:61208

SYNCTHING_URL=http://192.168.1.4:8384
SYNCTHING_API_KEY=YL6Vt7SrvUHmGq4SYuzRbfvTKhTprkgE

# OLLAMA_URL=http://ollama:11434