# Backend server
PORT=3040
CORS_ORIGIN=http://192.168.1.4:3080

# Service URLs + tokens
# JELLYFIN_URL=http://jellyfin:8096
# JELLYFIN_API_KEY=xxxxxxxx

# IMMICH_URL=http://immich-server:2283
# IMMICH_API_KEY=xxxxxxxx

# GLANCES_URL=http://glances:61208

# TRANSMISSION_URL=http://transmission:9091
# TRANSMISSION_USERNAME=your-username
# TRANSMISSION_PASSWORD=your-password

# SYNCTHING_URL=http://syncthing:8384
# SYNCTHING_API_KEY=xxxxxxxx

# UNRAID_URL=http://unraid
# UNRAID_API_KEY=xxxxxxxx
